/** @format */

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h6 {
    @apply font-bold uppercase pt-2;
  }

  h1 {
    @apply text-4xl sm:text-4xl md:text-7xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply py-1;
  }

  button {
    @apply border py-2 px-3 rounded-full;
  }
}
